<%= erb :'partials/_header' %>
<p>

  <p>
    <a href="/squads"> <i class="fa fa-arrow-circle-left"></i></a>
  </p>

  <p>
    <h1>
      Create a new squad
    </h1>
  </p>

<p>

  <form action="/squads" class="pure-form" method="POST">
    <p>
      <input type="text" class="pure-input-1-4" name="name" placeholder="Name of squad" autofocus>
    </p>
    <p>
      <input type="text" class="pure-input-1-4" name="mascot" placeholder="Mascot" autofocus>
    </p>
    <p>
      <button type="submit" class="button-large pure-button"> <i class="fa fa-paper-plane"></i> Submit </button>
    </p>
  </form>

</p>
<%= erb :'partials/_footer' %>